.grid {
    border: 6px solid whitesmoke;
    height: 800px;
    width: 770px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  
  .grid div {
    height: 110px;
    width: 110px;
  }

.grid div:hover{
    background-color: rgb(1, 247, 1);
}
  
  .player-one {
    background-color: red;
    border-radius: 55px;
  }
  
  .player-two {
    background-color: yellow;
    border-radius: 55px;
  }

  h1{
    text-align: center;
    font-family: Chalkduster, fantasy;
    color: whitesmoke;
  }

  h3{
    text-align: center;
    font-family: Chalkduster, fantasy;
    color: whitesmoke;
  }

  body{
    background-color: rgb(10, 54, 10);
  }