body {
    background-color: #030829;
    background-size: cover;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    color: white;
}

.box {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    background-color: #EFCB68;
}

.box {
    text-align: center;
    vertical-align: middle;
}

.board {
    margin: 50px;
}

.opened {
    background-color: gray;
}

/* .bomb {} */

.flag {
    background-color: green;
}

.button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}