{% extends 'base.html' %}
{% block content %}

<h1>Game Details</h1>
<p>this page will display high scores etc</p>

<div class="card grey darken-3">
  <div class="card-content">
    <span class="card-title">{{ game.gamename }}</span>
    <p>Platform: {{ game.platform }}</p>
    <p>Description: {{ game.description }}</p>
  </div>
  <div class="card-action white-text">
    <a href="{% url 'games_update' game.id %}">Edit</a>
    <a href="{% url 'games_delete' game.id %}">Delete</a>
  </div>
</div>
<div class="col s6 gamedetail">
  <form action="{% url 'add_score' game.id %}" method="POST">
    {% csrf_token %}
    {{ score_form.as_p }}
    <input type="submit" class="button black" value="Add Score">
  </form>
  <table class="striped">
    <thead>
      <tr><th>Score</th><th>Date Set!</th></tr>
    </thead>
    <tbody>
      {% for score in game.score_set.all %}
        <tr>
          <td>{{score.value}}</td>
          <td>{{score.date}}</td>
          <td>
            <a href="{% url 'score_update' score.id %}">Update</a>
          </td>
          <td>
            <a href="{% url 'score_delete' score.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}
