{% extends 'base.html' %}
{% block content %}

<h1>Game List</h1>

  <div class="card">
    <a href="{% url 'memory-game' %}">
        <div class="card-content black-text">
            <span class="card-title">Concentration</span>
            <p>Description: Match the cards, this one is car themed!</p>
        </div>
    </a>
  </div>

  <div class="card">
    <a href="{% url 'simon-game' %}">
        <div class="card-content black-text">
            <span class="card-title">Simon</span>
            <p>Description: Repeat the pattern shown, each level increases the difficulty</p>
        </div>
    </a>
  </div>

  <div class="card">
    <a href="{% url 'mine-sweeper' %}">
        <div class="card-content black-text">
            <span class="card-title">Minesweeper</span>
            <p>Description: Look for mines, safe spaces will denote how many bombs may be around them</p>
        </div>
    </a>
  </div>

{% endblock %}