{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cool Djan Games</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/tic-tac-toe.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer src="{% static 'css/tic-tac-toe.js' %}"></script>
  </head>
  <header class="navbar-fixed">
    <nav class="#757575 grey darken-1">
      <div class="nav-wrapper">
        <ul>
          <li>
            <a href="/" class="left brand-logo">&nbsp;&nbsp;Cool Djan Games</a>
          </li>
        </ul>
        <ul class="right black-text">
          {% if user.is_authenticated %}
          <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
          <li><a href="{% url 'games_create' %}">Add a Game to Track</a></li>
          <li><a href="{% url 'index' %}">Game List</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    <h1 id="playText">Let's Play</h1>
    <button id="restartBtn">Restart</button>
    <div id="gameboard">
      <div class="box" id="0"></div>
      <div class="box" id="1"></div>
      <div class="box" id="2"></div>
      <div class="box" id="3"></div>
      <div class="box" id="4"></div>
      <div class="box" id="5"></div>
      <div class="box" id="6"></div>
      <div class="box" id="7"></div>
      <div class="box" id="8"></div>
    </div>
  </div>
</html>
